// SPACEING
$space-224: 22.4rem;
$space-128: 12.8rem;
$space-100: 10rem;
$space-90: 9rem;
$space-80: 8rem;
$space-64: 6.4rem;
$space-60: 6rem;
$space-48: 4.8rem;
$space-46: 4.6rem;
$space-42: 4.2rem;
$space-40: 4.0rem;
$space-38: 3.8rem;
$space-36: 3.6rem;
$space-32: 3.2rem;
$space-28: 2.8rem;
$space-24: 2.4rem;
$space-22: 2.2rem;
$space-20: 2.0rem;
$space-18: 1.8rem;
$space-16: 1.6rem;
$space-12: 1.2rem;
$space-10: 1rem;
$space-8: 0.8rem;
$space-6: 0.6rem;
// FONT-SIZE
$font-94: 9.4em;
$font-86: 8.6em;
$font-64: 6.4em;
$font-48: 4.8em;
$font-42: 4.2em;
$font-38: 3.8em;
$font-36: 3.6em;
$font-32: 3.2em;
$font-28: 2.8em;
$font-26: 2.6em;
$font-24: 2.4em;
$font-22: 2.2em;
$font-20: 2.0em;
$font-18: 1.8em;
$font-16: 1.6em;
$font-14: 1.4em;
$font-12: 1.2em;
$font-10: 1em;
$caption: 0.9em;

// COLORS
$white: rgba(255, 255, 255, 1);
$white-op90: rgba(255, 255, 255, 0.90);
$white-op80: rgba(255, 255, 255, 0.80);

$orange: rgba(242, 100, 25, 1);
$orange-strong: rgb(224, 88, 14);
$orange-op90: rgba(242, 100, 25, 0.90);
$orange-op80: rgba(242, 100, 25, 0.80);

$yellow: rgba(255, 164, 0, 1);
$yellow-strong: rgb(216, 140, 0);
$yellow-op90: rgba(255, 164, 0, 0.90);
$yellow-op80: rgba(255, 164, 0, 0.80);

$grey: rgba(72, 74, 71, 1);
$grey-op90: rgba(72, 74, 71, 0.90);
$grey-op80: rgba(72, 74, 71, 0.80);

$black: rgb(31, 31, 31);
$black-strong: rgb(24, 24, 24);
$black-op90: rgba(31, 31, 31, 0.90);
$black-op80: rgba(31, 31, 31, 0.80);

$red: rgba(157, 2, 8, 1);
$red-strong: rgba(106, 4, 15, 1);