<section id="form-section">
    <article id="form-article">
        <div id="form-header">
            <h1 id="header-title">Register</h1>
        </div>
        <form id="form">
            <input class="input" type="text" id="first_name-input" placeholder="first name">
            <input class="input" type="text" id="last_name-input" placeholder="last Name">
            <input class="input" type="email" id="email-input" placeholder="email">
            <input class="input" type="number" id="age-input" placeholder="age">
            <input class="input" type="password" name="" id="password-input" placeholder="password">
            <input class="form-button" type="submit" value="Register" id="register-input">
        </form>
    </article>
</section>