<section id="home" class="container-xl">
    <article id="welcome">
        <div>
            <h1>Hola!!</h1>
        </div>
        
        <div>
            <p>Eres bienvenido</p>
        </div>
    </article>    

</section>